<div class="row">
  <div class="col-12">
    <h2 class="pb-2 border-bottom">Contas</h2>
  </div>
  <div class="col-12">
    <a class="btn btn-sm btn-dark mb-3">Cadastrar</a>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Agencia</th>
          <th scope="col">Conta</th>
          <th scope="col">Cliente</th>
          <th scope="col">Saldo</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let conta of contas">
          <td>{{ conta.id }}</td>
          <td>{{ conta.agencia }}</td>
          <td>{{ conta.numero }}</td>
          <td>{{ conta.cliente.nome }}</td>
          <td>{{ conta.saldo }}</td>
          <td>
            <div class="dropdown">
              <button
                class="btn btn-sm btn-outline-dark dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Ações
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Editar</a></li>
                <li><a class="dropdown-item" href="#">Excluir</a></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
