<div class="row">
  <div class="col-12">
    <h2 class="pb-2 border-bottom">{{ idCliente ? 'Editar' : 'Cadastrar' }} Clientes</h2>
  </div>
</div>
<form [formGroup]="clienteForm" (ngSubmit)="cadastrar()">
  {{ clienteForm.value | json }}
  {{ clienteForm.valid | json }}
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" formControlName="nome">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label for="cpf" class="form-label">CPF</label>
        <input type="text" class="form-control" id="cpf" formControlName="cpf">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="email" formControlName="email">
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label for="observacoes" class="form-label">Observações</label>
        <textarea class="form-control" rows="3" formControlName="observacoes"></textarea>
      </div>
    </div>
  </div>
  <button type="submit" [disabled]="!clienteForm.valid" class="btn btn-primary">
    {{idCliente ? 'Editar' : 'Cadastrar' }}
  </button>
</form>
